/* Basic HTML Elements -------------------------------------- */
*
{
  margin: 0;
  padding: 0;
  position: relative;
}

body { 
	background-color: white;
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	font-size: 11px;
	margin: 0;
} 


.red{
	color: red;
	font-weight: bold;
}

.num{
	text-align: right;
}


div.colstart{
	clear:both;
}


div.col1{
	float: left;
}

#xml_editor_div .tagstart{
	color: green;
}

#xml_editor_div .tagend{
	color: green;
}

#xml_editor_div .elementcontent{
	color: purple;
}




/* ---------------------------- TODO REMOVE THE FOLLOWING?? ?? ?  */


table.layout{
	border-style: solid;
	border-collapse: collapse;

	/* uncomment this for debug layout 
	border-color: gray;
	*/

	border-width: 0px;
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 100%;
}

td.layout{
	border-style: solid;
	border-collapse: collapse;

	/* uncomment this for debug layout 
	border-color: gray;
	*/

	border-width: 0px;
	padding: 0px;
	margin: 0px;
}

/* Appliation Title -------------------------------------- */
.blueBar{
	color: #D8DFEA;
	background-color: #3B5998; 
	border-bottom: 1px solid #133783;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.52);
	top: 0;
	width: 100%;
	height: 2.5em;
	z-index: 2;
	padding-left: 20px;
	padding-right: 20px;
}

.appTitle1{
	color: #FFFFFF;
	font-family: Impact;
    font-size: 2em;
    font-weight: normal;

}

.appTitle1 a:link,
.appTitle1 a:visited,
.appTitle1 a:active {
	color: #FFFFFF;
	text-decoration: none;
}

.appTitle1 a:hover{
	color: #FFFFFF;
	text-decoration: underline;
}

.profileName{
	margin-right: 10px;
	line-height: 29px;
	font-weight: bold;
	float: left;
}

.profileName a:link,
.profileName a:visited,
.profileName a:active {
	color: #D8DFEA;
	text-decoration: none;
}

.profileName a:hover{
	color: #D8DFEA;
	text-decoration: underline;
}

.appTitle2{
	color: #FFFFFF;
    font-family: Arial;
    font-size: 16px;
    font-weight: normal;
}

.alphaversion{
	background-color: #D8DFEA;
	color: red;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 9px;
	font-weight: bold;
	border-radius: 4px;
}

.searchbox{
	background-color: white;
	color: black;
}

.searchbox_nocriteria{
	background-color: white;
	color: gray;
}

.searchbox_notfound{
	background-color: crimson;
	color: white;
}

/* Main Area -------------------------------------- */
.main_area{
	width: 100%;
	position: relative;
	top: 46px;
}

/* Ads -------------------------------------- */
.ads_area{
	position: fixed;
	top: 46px;
	right: 0;
	width: 120px;
	z-index: 2;
}


/* Panels -------------------------------------- */
.main_panel{
	background: #F2F2F2;
	float: left;
	border: 1px solid;
}

.main_panel_content{
	overflow: auto; /* TODO when auto, there is a undesiable vertical scrollbar .... but when make it visible, then dragging icons is not working. What to do? */
	width: 100%;
	height: 100%;
}

.panel_div{
	float: left;
	margin: 3px;
	border-bottom-right-radius: 5px;
}

.panel_content_div {
	overflow: auto;
	padding: 3px;
}

.panelContentDivDroppable.dragging{
	background: Beige;
}

.panel_title_div{
	white-space: nowrap;
	overflow: hidden;
	font-weight: bolder;
/*	float: left; */
}

.panelDeleteIconDiv{
	float: right;
}

