/* --- Initialize basic HTML tags ----------------- */

*
{
  margin: 0;
  padding: 0;
  position: relative;
}

body { 
	background-color: white;
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	font-size: 11px;
	margin: 0;
} 

table {
	border-width: 1px;
	border-spacing: 0px;
	border-style: solid;
	border-color: gray;
	border-collapse: collapse;
	background-color: white;
}

table th, table td {
	border-width: 1px;
	padding: 0px;
	border-style: solid;
	border-color: gray;
	background-color: white;
	-moz-border-radius: ;
}

.red{
	color: red;
	font-weight: bold;
}

.num{
	text-align: right;
}


div.colstart{
	clear:both;
}


div.col1{
	float: left;
}

/* --- Title ----------------- */
.blueBar{
	background-color: #3B5998; 
	border-bottom: 1px solid #133783;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.52);
	top: 0;
	width: 100%;
	height: 2.5em;
	z-index: 2;
}

.appTitle1{
	color: #FFFFFF;
	font-family: Impact;
    font-size: 2em;
    font-weight: normal;
}

.appTitle2{
	color: #FFFFFF;
    font-family: Arial;
    font-size: 1em;
    font-weight: normal;
}


.alphaversion{
	background-color: #D8DFEA;
	color: red;
	padding-left: 0.5em;
	padding-right: 0.5em;
	font-size: 1em;
	font-weight: bold;
	border-radius: 4px;
}


/* --- Menu ----------------- */

.menu_group{
	clear:both;
	background-color: #366793;
	margin: 2px;
	border: solid 1px;
	border-radius: 5px;
	padding: 2px;
	width: 80%;
/*	float: left; */
}

/* --- XML Editor ----------------- */

#xml_editor_div .tagstart{
	color: green;
}

#xml_editor_div .tagend{
	color: green;
}

#xml_editor_div .elementcontent{
	color: purple;
}

#xml_editor_div .line_num_column{
	background: #E0E0E0;
	text-align: right;
}

#xml_editor_div .error{
	background: pink;
    font-weight: bold;
}

#xml_editor_div table{
	border-width: 1px;
}

#xml_editor_div td{
	border-bottom-width: 0px;
	border-top-width: 0px;
	font-family: monospace;
	white-space: nowrap;
}

